@use '../../../static/css/response.scss' as *;

.menuBarContent {
    background: linear-gradient(180deg, var(--vault-bg-1) 0%, var(--vault-bg-0) 100%);
    border-left: 1px solid var(--vault-border);
    color: var(--vault-text);
    height: calc(100vh - var(--header-h));
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-content: start;
    flex-wrap: wrap;
    transition: all 0.4s ease;
    z-index: 50;
    position: fixed;
    right: 0;
    overflow: hidden;
    top: var(--header-h);

    @include md {
        width: var(--menu-bar-w);
        position: relative;
        position: sticky;
    }

    &.hiddeBar {
        width: 0;
        border-left: 1px solid transparent;
    }
}